#azindexpage .aztabs{
    text-align: center;
    font-size: 120%;
}
#azindexpage .aztabs li{
    display: inline-block;
    padding-right: 1em;
}
#azindexpage .noword a{
    color: red;
    cursor: default;
    pointer-events: none;
}
#azindexpage .haswords a.current{
    font-weight: bold;
    border: 1px solid
}
