.aztabs{
    text-align: center;
    font-size: 120%;
}
.aztabs li{
    display: inline-block;
    padding-right: 1em;
}
.noword a{
    color: red;
    cursor: default;
    pointer-events: none;
}
.haswords .current{
    font-weight: bold;
    border: 1px solid
}
