.aztabs{
    text-align: center;
    font-size: 120%;
}
#content .aztabs li{
    display: inline-block;
    padding-right: 1em;
}
.noword a{
    color: red;
    cursor: default;
    pointer-events: none;
}
#content .haswords{
    font-size: 130%;
}
#content .haswords .current{
    font-weight: bold;
    border: 1px solid
}
.noword {
	display: none;
}
